
name: Test

on: [push]

jobs:
  testfreebsd:
    runs-on: macos-latest
    name: A job to run test FreeBSD
    env:
      MYTOKEN : ${{ secrets.MYTOKEN }}
      MYTOKEN2: "value2"
    steps:
    - uses: actions/checkout@v2
    - name: Test in FreeBSD
      id: test
      uses: vmactions/freebsd-vm@test
      with:
        envs: 'MYTOKEN MYTOKEN2'
        prepare: pkg install -y curl
        nat: |
          "8080": "80"
          "8443": "443"
          udp:"8081": "80"
        run: |
          if [ "" ]; then
            echo "false";
          fi
          if [ "test" ]; then
            echo "test";
          fi
          pwd
          ls -lah
          whoami
          env
          freebsd-version
